fire >= 0.4
# See https://github.com/related-sciences/articat/pull/59
fsspec >= 2021.7.0, < 2024.3.0
gcsfs >= 2021.7.0
google-cloud-bigquery >= 1.11
google-cloud-datastore >= 2.1
jupyterlab ~= 3.0
papermill >= 2.0
pydantic ~= 2.0
